@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap&subset=latin-ext');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

main {
  position: relative;
  &:before {
    z-index: 10;
    position: absolute;
    content: '';
    background-color: black;
    display: none;
    opacity: 0.6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
