.paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
  &--bold {
    font-weight: 700;
  }
}

.main-heading {
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}

.heading-h2 {
  font-size: 42px;
  line-height: 50px;
  color: #0a655e;
}
