@import './defaults/colors';

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0 15px;
  }
}

.topbar {
  padding-top: 27px;
  border-bottom: 1px solid #f1f5f5;
  padding-bottom: 18px;
  &__container {
    display: flex;
    align-items: center;
  }
  &__btn {
    display: inline-block;
    margin-left: 35px;
    cursor: pointer;
    position: relative;
    &:first-child {
      position: relative;
      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        width: 40px;
        height: 40px;
        transform: translate(-54%, -55%);
        top: 50%;
        left: 50%;
        background-color: $main;
        border-radius: 50%;
        box-shadow: 3px 3px 10px #80888833;
      }
    }
    .counter {
      position: absolute;
      background-color: $main;
      color: $white;
      font-size: 10px;
      line-height: 14px;
      padding: 0 4px;
      top: -2px;
      right: -8px;
      border-radius: 50%;
      // max-height: 13px;
      // min-width: 13px;
    }
    &--desktop-hidden {
      display: none;
    }
  }
  &__icons {
    margin-left: 40px;
    margin-right: 10px;
  }
  &__logo {
    margin-right: auto;
  }
  @media screen and (max-width: 1200px) {
    &__btn {
      &--desktop-hidden {
        display: inline-block;
      }
    }
  }
  @media screen and (max-width: 620px) {
    &__logo {
      img {
        max-width: 120px;
      }
    }
    &__btn {
      margin-left: 25px;
    }
  }
}

.menu {
  &__item {
    display: inline-block;
    margin-left: 36px;
  }
  &__link {
    font-size: 14px;
    font-weight: 200;
    color: #2e3838;
    text-decoration: none;
    line-height: 24px;
    transition: 0.3s;
    &:hover {
      color: $main;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}

.magazines {
  padding: 60px 0;
  background-color: $main;
  &__container {
    display: flex;
  }
  &__text {
    flex-basis: 48%;
    .paragraph:last-child {
      margin-bottom: 0;
    }
  }
  &__cover {
    flex: 1;
    position: relative;
    .cover-large {
      position: absolute;
      top: -40px;
      left: 60px;
      max-width: 450px;
      z-index: 2;
    }
    .cover-small {
      position: absolute;
      max-width: 380px;
      left: 240px;
      // z-index: -1;
    }
  }
  @media screen and (max-width: 1200px) {
    &__cover {
      display: none;
    }
    &__text {
      flex-basis: 100%;
    }
  }
}

.find-magazine {
  .heading-h2 {
    margin-bottom: 80px;
    margin-top: 125px;
    font-weight: 900;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  flex-basis: calc(100% / 4);
  &__image {
    img {
      max-width: 163px;
    }
  }
  &__content {
    position: relative;
    margin-bottom: 80px;
    &:before {
      content: '';
      transition: 0.3s;
      position: absolute;
      border: 1px solid $main-hover;
      box-shadow: 20px 20px 40px #2e383826;
      height: calc(100% + 120px);
      width: 100%;
      top: -100px;
      z-index: -1;
      left: 0;
      opacity: 0;
    }
  }
  &__title {
    color: $main;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 5px;
    min-height: 54px;
    font-weight: 900;
    margin-top: 14px;
    transition: 0.3s;
  }
  &__price {
    color: $main;
    font-size: 30px;
    font-weight: 900;
    transition: 0.3s;
    span {
      font-size: 18px;
      margin-left: 5px;
    }
  }
  &__tax {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    color: $main;
    transition: 0.3s;
  }
  &__details {
    text-decoration: none;
    text-transform: uppercase;
    color: $main;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 2.4px;
    transition: 0.3s;
  }
  &:hover {
    .item__tax,
    .item__title,
    .item__price,
    .item__details {
      color: $main-hover;
      transition: 3;
    }
    .item__content {
      &:before {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 980px) {
    flex-basis: calc(100% / 2);
  }
  @media screen and (max-width: 620px) {
    flex-basis: calc(100%);
  }
}

.pagination {
  margin-top: 30px;
  margin-bottom: 100px;
  &__container {
    text-align: center;
  }
  &__box {
    text-decoration: none;
    color: #6e8484;
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    font-weight: 200;
    &--active {
      background-color: $main;
      color: $white;
      font-weight: 600;
    }
    &:last-child {
      transform: rotate(180deg);
    }
  }
}
