.magazines {
  padding: 60px 0;
  background-color: $main;
  &__container {
    display: flex;
  }
  &__text {
    flex-basis: 48%;
    .paragraph:last-child {
      margin-bottom: 0;
    }
  }
  &__cover {
    flex: 1;
    position: relative;
    .cover-large {
      position: absolute;
      top: -40px;
      left: 60px;
      max-width: 450px;
      z-index: 2;
    }
    .cover-small {
      position: absolute;
      max-width: 380px;
      left: 240px;
      // z-index: -1;
    }
  }
  &__path {
    img {
      position: absolute;
      top: -78px;
      left: calc(50% - 870px);
    }
  }
  @media screen and (max-width: 1200px) {
    &__cover {
      display: none;
    }
    &__text {
      flex-basis: 100%;
    }
  }
}

.find-magazine {
  .heading-h2 {
    margin-bottom: 80px;
    margin-top: 125px;
    font-weight: 900;
  }
}
